html

    head
        title= title


    body
        h1= message



    table(style='width:100%')

        tr
        th='Parking Station Occupation'
        th='Value record time'
        th='Possible extra spots for fast parking'

        tr
        td=var1
        td=validTime
        td=var2

        tr
        th='System Status'
        tr
        td=ss

